<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>5to Torneo de golf NAVISTAR</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{{ asset('assets')}}/AdminLTE/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('assets')}}/AdminLTE/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<link href="{{asset('assets')}}/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
	<link href="{{asset('assets')}}/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.css" rel="stylesheet" />
	<link href="{{asset('assets')}}/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.css" rel="stylesheet" />  
  <link rel="stylesheet" href="{{ asset('assets')}}/css/navistarpanel.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown show">
        <a class="nav-link" href="{{ path('torneoNavistar_panel_logout') }}" aria-expanded="true">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>    
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{{ asset('assets')}}/img/brandNavistar.png" alt="AdminLTE Logo" class="brand-image"
           style="opacity: .8">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex text-center">
        <div class="info">
          <a href="javascrit:;" class="d-block">{{ user.userName }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Registros</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{{ asset('assets')}}/AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('assets')}}/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="{{ asset('assets')}}/AdminLTE/dist/js/adminlte.min.js"></script>
<script src="{{asset('assets')}}/bootstrap-table/bootstrap-table.min.js"></script>
<script src="{{asset('assets')}}/bootstrap-table/bootstrap-table-locale-all.js"></script>
<script src="{{asset('assets')}}/tableExport/libs/FileSaver/FileSaver.min.js"></script>
<script src="{{asset('assets')}}/tableExport/libs/js-xlsx/xlsx.core.min.js"></script>
<script src="{{asset('assets')}}/tableExport/tableExport.min.js"></script>
<script src="{{asset('assets')}}/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script src="{{asset('assets')}}/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="{{asset('assets')}}/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
<script src="{{asset('assets')}}/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.js"></script>
<script src="{{ asset('assets')}}/js/navistarpanel.js"></script>
</body>
</html>
