{% extends "layout.twig" %}

{% block content %}
<section class="section-wrap pb-20 pt-20">
  <div class="container">
    <form action="{{ url('setRegistro') }}" method="post" id="frmRegistro">
      <div class="form-group row">
        <div class="col-md-12 col-sm-12">
          <legend class="text-info">Datos generales</legend>
        </div>
        <div class="col-md-6 col-sm-12">
          <label>Nombre</label>
          <input class="form-control form-flat" name="nombre" id="nombre" required type="text" value="{{ (data.get('nombre') is null) ? '' : data.get('nombre')  }}">
        </div>
        <div class="col-md-6 col-sm-12">
          <label>Apellidos</label>
          <input class="form-control form-flat" name="apellidos" id="apellidos" required type="text" value="{{ (data.get('apellidos') is null) ? '' : data.get('apellidos')  }}">
        </div>                      
      </div>
      <div class="form-group row">
        <div class="col-md-6 col-sm-12">
          <label>Correo</label>
          <input class="form-control form-flat" name="correo" id="correo" required type="email" value="{{ (data.get('correo') is null) ? '' : data.get('correo')  }}">
        </div>
        <div class="col-md-6 col-sm-12">
          <label>Razón social</label>
          <input class="form-control form-flat" name="razonSocial" id="razonSocial" required type="text" value="{{ (data.get('razonSocial') is null) ? '' : data.get('razonSocial')  }}">
        </div>                      
      </div>
      <hr>
      <div class="form-group row">
        <div class="col-md-12 col-sm-12">
          <legend class="text-info">Habitación / Transporte</legend>
        </div>        
        <div class="col-md-6 col-sm-12">
          <label>Habitación</label>
            <select class="form-controls form-flat" name="habitacion" id="habitacion" required>
              <option selected value="">Seleccionar</option>
              <option value="sencilla" selected>Sencilla</option>
              <option value="doble">Doble</option>
            </select>        
        </div>
        <div class="col-md-6 col-sm-12">
          <label>Transporte</label>
            <select class="form-controls form-flat" required name="transporte" id="transporte">
              <option value="" required>Selecionar</option>
              <option value="aereo">Aéreo</option>
              <option value="terrestre">Terrestre</option>
            </select>          
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 col-sm-12">
          <label>Fecha de llegada</label>
          <input class="form-flat dates" name="fechaLlegada" id="fechaLlegada" required type="text" value="{{ (data.get('fechaLlegada') is null) ? '' : data.get('fechaLlegada')  }}" readonly>
        </div>
        <div class="col-md-3 col-sm-12">
          <label>&nbsp;</label>
          <div class="note note-danger">
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <label>Fecha de salida</label>
          <input class="form-flat dates" name="fechaSalida" id="fechaSalida" required type="text" value="{{ (data.get('fechaSalida') is null) ? '' : data.get('fechaSalida')  }}" readonly>
        </div>      
      </div>
      <div class="form-group row">
          <div class="col-md-3 col-sm-12">
            <label>¿Alguna alergia?</label>
            <input class="form-control form-flat" name="alergia" id="alergia" type="text" value="{{ (data.get('alergia') is null) ? '' : data.get('alergia')  }}" required>
          </div> 
      </div>
      <hr>
      <div class="form-group row">
        <div class="col-md-12 col-sm-12">         
          <input type="checkbox" class="input-checkbox" name="licencia" id="licencia" value="1">
          <label for="licencia" class="legend text-info" id="llicencia">Licencia</label>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="note note-danger">
            <span class="fa fa-warning text-danger"></span> <span class="text-danger">Si no llevan la licencia vigente al evento, no podrán realizar las pruebas de manejo.</span>
          </div>          
        </div>          
        <div class="col-md-4 col-sm-12 dlicencia hidden">
          <label>Lugar de emisión</label>
          <input class="form-control form-flat licencia" name="lugarLicencia" id="lugarLicencia" type="text" value="{{ (data.get('lugarLicencia') is null) ? '' : data.get('lugarLicencia')  }}">
        </div>
        <div class="col-md-4 col-sm-12 dlicencia hidden">
          <label>4 ultimos dígitos</label>
          <input class="form-control form-flat licencia" name="digitos" id="digitos" type="text" value="{{ (data.get('digitos') is null) ? '' : data.get('digitos')  }}">
        </div>
        <div class="col-md-4 col-sm-12 dlicencia hidden">
          <label>Valida hasta</label>
          <input class="form-control form-flat licencia ldate" name="lvalida" id="lvalida" type="text" value="{{ (data.get('lvalida') is null) ? '' : data.get('lvalida')  }}" readonly>
        </div>                
      </div>
      <hr>
      <div class="form-group row">
        <div class="col-md-3 col-sm-6">
          <div id="captchaContainer">
          </div>
        </div>
      </div>      
      <div class="form-group row">
        <button type="submit" class="btn btn-sm btn-color pull-right" id="send"><div>Enviar</div></button>
      </div>
    </form>
  </div>
</section>
{% endblock %}