<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
  <head>
    <!-- Basic Page Needs -->
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Michelin Alliance 2019</title>

    <meta name="author" content="Nuevas Tecnologías T&C Group">
    <meta name="description" content="Michelin 2019 Alliance">
    <!-- set the Keyword -->
    <meta name="keywords" content="Michelin Alliance 2019, Michelin Alliance 2019 registro, Michelin Alliance 2019 Asociados">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets')}}/automov/stylesheet/style.css">
    <link rel="stylesheet" href="{{ asset('assets')}}/css/michelin19.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets')}}/automov/stylesheet/colors/color1.css" id="colors">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets')}}/automov/stylesheet/responsive.css">
    <link rel="stylesheet" href="{{ asset('assets')}}/formvalidation/css/formValidation.min.css" />
    <link rel="stylesheet" href="{{ asset('assets')}}/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="{{ asset('assets')}}/date-time/css/datepicker.css" />
    <link rel="stylesheet" href="{{ asset('assets')}}/date-time/css/timepicker.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body>
    <div id="wrapper" class="wrapper">
      <div class="preloader">
        <div class="load">
          <div class="block"><img src="{{ asset('assets')}}/phoenix/images/svg/bars.svg" width="60" alt="loader"></div>
        </div>
      </div> <!-- /.preloaer -->

      <header id="header" class="header-v5">
        <div class="container-fluid container-header clearfix">
          <div id="logo">
            <a href="{{ url('michelin19.index')}}/{{ tipo }}">
              <img src="{{ asset('assets')}}/img/Michelin2018_140.png" alt="michelin" data-retina="{{ asset('assets')}}/img/Michelin2018_140.png">
            </a>
          </div>
          <div class="mobile-button v2">
            <span></span>
          </div>
          <div class="nav-wrap text-center">
            <nav id="mainnav" class="mainnav header-v1">
              <ul class="menu">
                {% if tipo is defined and tipo == 'dis' %}
                <li class="{{ (title == 'inicio') ? 'active' : '' }}">
                  <a href="{{ url('michelin19.index') }}/{{ tipo }}">INICIO</a>
                </li>
                {% endif %}
                <li class="{{ (title == 'sede') ? 'active' : '' }}">
                  <a href="{{ url('michelin19.index') }}/{{ tipo }}/sede">SEDE</a>
                </li>
                <li class="{{ (title == 'agenda') ? 'active' : '' }}">
                  <a href="{{ url('michelin19.index') }}/{{ tipo }}/agenda">AGENDA</a>
                </li>
                <li class="{{ (title == 'registro') ? 'active' : '' }}">
                  <a href="{{ url('michelin19.index') }}/{{ tipo }}/registro">REGISTRO</a>
                </li>
                <li class="{{ (title == 'contacto') ? 'active' : '' }}">
                  <a href="{{ url('michelin19.index') }}/{{ tipo }}/contacto">CONTACTO</a>
                </li>
                <li class="{{ (title == 'vuelos') ? 'active' : '' }}">
                  <a href="{{ url('michelin19.index') }}/{{ tipo }}/vuelos">PROMOCIÓN</a>
                </li>
                {% if tipo is defined and tipo == 'staff' %}
                <li class="{{ (title == 'vuelos') ? 'active' : '' }}">
                  <a href="{{ url('michelin19.index') }}/{{ tipo }}/pago">PAGO</a>
                </li>
                {% endif %}
              </ul>
            </nav><!-- /.mainnav -->
          </div>
          <div class="flat-menu-extra clearfix logo2">
            <img src="{{ asset('assets')}}/img/{{ (tipo == 'emp') ? 'smi19_400.png' : 'smi19_400.png'}}" alt="michelin" data-retina="{{ asset('assets')}}/img/smi19_400.png">
          </div>
        </div> <!-- /.container -->
      </header> <!-- /#header -->
      <main id="main" class="main">
        {% block content %}
        {% endblock %}
      </main>
      <footer id="footer" class=" style2 pd-bottom-100">
        <div class="flat-spacer clearfix" data-desktop="40" data-mobile="30" data-smobile="30" ></div>
        <div class="container">
          <div class="bottom style1 clearfix">
            <div class="flat-socails">
            </div>
            <div class="flat-copy-right">
              <p>Desarrollado por Nuevas Tecnologías <a href="https://tycgroup.com/" target="_blank" class="text-info">T&C Group</a> © 2017-2018</p>
            </div>
          </div> <!-- /.bottom -->
        </div> <!-- /.container -->
      </footer> <!-- /.footer -->
      <span class="gotop">
        <img src="{{ asset('assets')}}/automov/images/goto-automov.png" alt="AutoMov">
      </span> <!-- /.gotop -->

      <!-- Javascript -->
      <script src="{{ asset('assets')}}/automov/javascript/jquery.min.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/plugins.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/bootstrap.min.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/owl.carousel.min.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/imagesloaded.min.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/jquery-isotope.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/jquery-countTo.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/waypoints.min.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/equalize.min.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/jquery.cookie.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/jquery.validate.min.js"></script>
      <script src="{{ asset('assets')}}/automov/javascript/main.js"></script>
      <script src="{{ asset('assets')}}/js/axios.min.js"></script>
      <script src="{{ asset('assets')}}/formvalidation/js/formValidation.min.js"></script>
      <script src="{{ asset('assets')}}/formvalidation/js/framework/bootstrap4.min.js"></script>
      <script src="{{ asset('assets')}}/formvalidation/js/addons/reCaptcha2.min.js"></script>
      <script src="{{ asset('assets')}}/formvalidation/js/language/es_ES.js"></script>
      <script src="{{ asset('assets')}}/moment-with-locales.js"></script>
      <script src="{{ asset('assets')}}/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
      {% block script %}
      {% endblock %}
      <script src="{{ asset('assets')}}/js/michelin19.js"></script>
    </div>
  </body>
</html>
